.container {
  display: grid;
  place-items: center;
  grid-auto-rows: min-content;
  row-gap: 10px;
  height: 100%;

  h2.title {
    font-size: 22px;
    font-weight: normal;
    color: var(--core-celestial-blue);
    text-transform: capitalize;
    font-variant: small-caps;
    padding-top: 10px;
  }

  button {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    font-size: 16px;

    &.start {
      background-color: var(--core-xanthous);
    }

    &.history {
      background-color: var(--core-flash-white);
    }
  }

  p.info_text {
    color: var(--core-auburn);
    font-weight: normal;
    font-size: 12px;
  }
}
