.container {
  display: grid;
  place-items: center;
  grid-auto-rows: min-content;
  row-gap: 10px;
  height: 100%;

  h2.title {
    font-size: 22px;
    font-weight: normal;
    color: var(--core-celestial-blue);
    text-transform: capitalize;
    font-variant: small-caps;
    padding-top: 10px;
  }

  button {
    &.start {
      background-color: var(--core-xanthous);
    }

    &.history {
      display: grid;
      grid-template-columns: 70px 175px;
      grid-template-rows: 1fr 1fr;
      column-gap: 5px;
      background-color: var(--core-flash-white);
      place-items: center;

      p {
        font-size: 16px;
        font-family: "Calibri", sans-serif;

        &.date {
          font-size: 12px;
          color: var(--core-gunmetal);
        }

        &.rating {
          font-size: 12px;
        }

        &.routine {
          color: var(--core-gunmetal);

        }

        &.name {
          color: var(--core-celestial-blue);
        }
      }
    }
  }

  p.info_text {
    color: var(--core-auburn);
    font-weight: normal;
    font-size: 12px;
  }
}
