:root {
  --prop-width: 45px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: auto;
  height: 0;
  opacity: 0;
  padding: 10px 20px;
  background-color: var(--core-flash-white);
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.5s, height 0.5s;

  &__opened {
    min-width: 280px;
    max-width: 460px;
    width: calc(100vw - 150px);
    min-height: 200px;
    max-height: 600px;
    height: calc(100vh - 100px);
    opacity: 1;
  }

  &__closing {
    height: 0;
    opacity: 0;
  }

  div {
    margin-bottom: 10px;
  }
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  .closeButton {
    position: relative;
    left: 10px;
    justify-self: end;
    height: 50px;
    padding: 0;
    background-color: var(--core-syracuse-orange);
    color: var(--core-flash-white);
    font-size: 14px;
  }
}

.config {
  input {
    padding: 3px;
    text-align: center;
  }

  &__name, &__date {
    display: grid;
    column-gap: 5px;
    align-items: center;
  }

  &__name {
    grid-template-columns: minmax(auto, var(--prop-width)) 1fr;
  }

  &__date {
    grid-template-columns: minmax(auto, var(--prop-width)) 30px minmax(125px, 1fr) minmax(50px, 100px);

    & button {
      height: 100%;
    }
  }
}
