:root {
  --core-gunmetal: #143642;
  --core-celestial-blue: #39a0ed;
  --core-timberwolf: #dad2d8;
  --core-flash-white: #eff1f3;
  --core-auburn: #a62639;
  --core-syracuse-orange: #d45113;
  --core-xanthous: #ffbf46;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Britannic Bold", sans-serif;
  font-weight: normal;
}

body {
  background-color: var(--core-flash-white);
}
